@import "tailwindcss";

:root {
  /* Colors for "Agregar dato de salud" widget */
  --health-header-bg: #c4daff;
  --health-header-text: #123eb0;
  --health-tabs-bg: #e5eaf5;
  --health-tab-inactive-bg: transparent;
  --health-tab-inactive-text: #959fb2;
  --health-tab-active-bg: #cfdffb;
  --health-tab-active-text: #0738ac;
  --health-button-bg: #f2f2f2;
  --health-button-text: var(--health-tab-active-text);
  --health-icon-bg: #ffffff;

  /* Common colors for the widgets */
  --widget-text-highlight: #123eaf;
  --widget-detail-button-bg: var(--health-header-bg);
  --widget-text: #4f4f4f;

  /* Colors for "Historial clínico" widget */
  --clinical-header-bg: #04236b;
  --clinical-header-text: #ffffff;

  /* Colors for "Tratamiento actual" widget */
  --treatment-header-bg: #4aab00;
  --treatment-header-text: #ffffff;

  /* Colors for "Plan" widget */
  --plan-header-bg: #0738ac;
  --plan-header-text: #ffffff;

  /* Colors for "Paraclínicos" widget */
  --paraclinical-header-bg: #f39505;
  --paraclinical-header-text: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

/* Glow effect for the Widget component */
.widget-glow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.1);
}

.widget-item-glow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 5px rgba(0, 0, 0, 0.15);
}
